@font-face {
  font-family: 'MyFont';
  src: url('assets/un.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: blue;
  background-image: url('assets/un.gif');
  font-family: 'MyFont'
}
